body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(255, 249, 232);
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: rgb(50, 50, 107);
}

.playbutton {
    cursor: pointer;
    float: right;
    clear: right;
}

.sidebar {
    height: 100%;
    width: 250px;
    margin-right: 20px;
    padding-left: 20px;
    overflow-y: scroll;
    position: fixed;
    background-color: rgb(197, 197, 184);
}

.blurb {
    margin-right: 20px;
}
p.socials a {
    display: block;
    margin: 0px;
}

#logo {
    width: 230px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 20px;
}

#main {
    margin-left: 270px;
    padding: 20px;
    padding-bottom: 300px;
}

a {
    cursor: pointer;
}

.epsummary h2 {
    cursor: pointer;
}

.pubdate {
    color: #888;
    float: right;
}

.epsummary {
    margin-bottom: 30px;
}

.shownotes {
    margin-left: 30px;
    clear: right;
}

#player {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 270px;
    padding: 20px;
    background-color: black;
    color: white;
}

#player #maxbutton {
    float:right;
    padding: 10px;
    cursor: pointer;
    margin: 0px;
}
#player.maximized #maxbutton {
    display: none;
}

#player #minbutton {
    float: right;
    padding: 10px;
    display: none;
    cursor: pointer;
}
#player.maximized #minbutton {
    display: block;
}

#player.maximized {
    left: 0px;
    top: 0px;
}

#player audio {
    width: 100%;
    margin-bottom: 10px;
}

#playingtitle {
    font-style: italic;
}

#playingtitle a {
    color: #cff;
}

#transcript {
    color: #444;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    overflow-y: scroll;
    max-height: 200px;
    padding-left: 5%;
    padding-right: 5%;
}

#player.paused #transcript{
    color: #888;
}

#player.maximized #transcript {
    max-height: 90%;
}

#transcript span.highlight {
    color: #ddd;
}


.showtags {
    list-style:none;
    padding-left: 0px;
    line-height: 200%;
}

.showtags li {
    display: inline;
    background-color: #fcc;
    padding: 0.25em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.showtags a {
    color: black;
    text-decoration: none;
    font-style: italic;
    white-space: nowrap;
}

li.tag_event {
    background-color: rgb(255, 255, 255);
}

li.tag_plot {
    background-color: #fcc;
}

li.tag_setting {
    background-color: #fec;
}

li.tag_mood {
    background-color: rgb(255, 254, 204);
}

li.tag_content {
    background-color: rgb(215, 244, 215);
}

li.tag_by {
    background-color:  rgb(224, 224, 254);
}

li.tag_narrator {
    background-color:  rgb(245, 224, 254);
}
